.custom-bg {
  background-color: #2d2951;
  padding: 20px;
  border-radius: 25px;
}

.unEdit {
  background-color: #e3e3e3;
}

.Edit {
  background-color: white;
}

i {
  cursor: pointer;

  padding: 5px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;

  &.delete {
    background-color: red;
  }

  &.edit {
    background-color: #dca438;
  }
}

.validation-error {
  font-size: 15px;
  color: #dca438;
}

label{
  color: white;
}


.license-status {
  border: 1px solid black;
  border-radius: 5px;

  &.active {
    background-color: #9feb99;
  }

  &.inactive {
    background-color: #c2c2c2;
  }

  &.expire {
    background-color: #fe6d6d;
  }
}


.active {
  background-color: #9feb99;
}

.inactive {
  background-color: #c2c2c2;
}

.expire {
  background-color: #fe6d6d;
}

.cancel-btn {
  background-color: #e3e3e3;
  color: black;

  &:hover {
    background-color: #bbbbbb;
    color: black;
  }
}

.save-btn {
  background-color: #9feb99;
  color: black;

  &:hover {
    background-color: #8ed88e;
    color: black;
  }
}
