<ng-template #insideModal let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <!-- {{ editForm.value | json }}} <br> -->

  {{ editForm.controls.name.errors | json }} <br />

  <!-- {{ editForm.controls.description.errors | json }} -->

  <div class="modal-body">
    <!-- <h1>seat amount is :  {{ seatAmount }}</h1> -->
    <!-- body of code -->
    <div class="">
      <div class="container text-center">
        <h1>License Edit</h1>
      </div>
      <div class="container custom-bg">
        <form [formGroup]="editForm">
          <!-- <input [value]="rowData.licId" formControlName="licId" />
          <input [value]="rowData.detail" formControlName="detail" />
          <input [value]="rowData.duration" formControlName="duration" />
          <input [value]="rowData.ownerId" formControlName="ownerId" /> -->
          <div class="row">
            <div class="col-xl-6">
              <div class="content-column">
                <div class="mb-3">
                  <label for="InputName" class="form-label"
                    >Name<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control Edit"
                    id="InputName"
                    name="InputName"
                    [value]="rowData.name"
                    formControlName="name"
                  />
                  <div
                    class="validation-error"
                    *ngFor="let error of editForm.get('name').errors | keyvalue"
                  >
                    <span>*{{ error.value }}</span>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="InputSerial" class="form-label">Serial</label>
                  <div class="d-flex">
                    <input
                      class="form-control unEdit w-75 me-3"
                      type="text"
                      id="InputSerial"
                      [value]="rowData.serial"
                      formControlName="serial"
                      readonly
                    />
                    <i
                      class="copy fas fa-copy w-max d-flex align-items-center justify-content-center"
                      style="width: 50px"
                      (click)="onCopy(rowData.serial)"
                    ></i>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="InputDescription" class="form-label"
                    >Description</label
                  >
                  <textarea
                    class="form-control Edit"
                    id="InputDescription"
                    name="InputDescription"
                    rows="6"
                    formControlName="description"
                  ></textarea>
                  <div
                    class="validation-error"
                    *ngFor="
                      let error of editForm.get('description').errors | keyvalue
                    "
                  >
                    <span>*{{ error.value }}</span>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="InputMaxSeat" class="form-label"
                    >Max Seat<span class="text-danger">*</span></label
                  >
                  <input
                    type="number"
                    min="1"
                    class="form-control w-50 Edit"
                    id="InputMaxSeat"
                    name="InputMaxSeat"
                    [value]="rowData.maxSeat"
                    formControlName="maxSeat"
                  />

                  <div
                    class="validation-error"
                    *ngFor="
                      let error of editForm.get('maxSeat').errors | keyvalue
                    "
                  >
                    <span>*{{ error.value }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="content-column">
                <div class="mb-3 row">
                  <div class="col-6">
                    <label class="form-label" for="InputCreateDate"
                      >Create Date</label
                    >
                    <input
                      type="text"
                      class="form-control unEdit"
                      id="InputCreateDate"
                      [value]="editForm.value.createDate | date : 'dd/MM/yyyy'"
                      readonly
                    />
                  </div>
                  <div class="col-6">
                    <label class="form-label" for="InputUpdateDate"
                      >Update Date</label
                    >
                    <input
                      type="text"
                      class="form-control unEdit"
                      id="InputUpdateDate"
                      [value]="editForm.value.updateDate | date : 'dd/MM/yyyy'"
                      readonly
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label" for="InputCreateBy"
                    >Create By</label
                  >
                  <input
                    type="text"
                    class="form-control unEdit"
                    id="InputCreateBy"
                    [value]="rowData.createBy"
                    formControlName="createBy"
                    readonly
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="InputUpdateBy"
                    >Update By</label
                  >
                  <input
                    type="text"
                    class="form-control unEdit"
                    id="InputUpdateBy"
                    formControlName="updateBy"
                    readonly
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label" for="InputUpdateBy"
                    >Expire Date</label
                  >

                  <input
                    type="date"
                    class="form-control Edit"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    formControlName="expDate"
                  />
                  <div
                    class="validation-error"
                    *ngFor="
                      let error of editForm.get('expDate').errors | keyvalue
                    "
                  >
                  <span *ngIf="editForm.get('expDate').dirty "
                    ><span *ngIf="!(rowData.expDate.slice(0, rowData.expDate.indexOf('T')) === editForm.get('expDate').value)">*{{ error.value }}</span></span
                  >
                  </div>
                  <div style="color: rgb(0, 255, 60)">
                    <p>{{editForm.get('expDate').value}}</p>
                    <p>{{rowData.expDate.slice(0,rowData.expDate.indexOf('T'))}}</p>
                    <p>{{rowData.expDate.slice(0, rowData.expDate.indexOf('T')) === editForm.get('expDate').value}}</p>
                  </div>
                </div>

                <!-- <div class="mb-3 d-inline-block">
                  <label for="InputStatus">Status</label>
                  <input
                    type="text"
                    class="form-control unEdit"
                    id="InputStatus"
                    [value]="rowData.status"
                    readonly
                  />
                </div> -->
                <div class="mb-3 d-inline-block">
                  <label class="form-label" for="InputStatusTest">Status</label>
                  <select
                    #statusSelect
                    name="InputStatusTest"
                    id="InputStatusTest"
                    class="form-control dropdown-toggle text-center"
                    [ngClass]="{
                      inactive: editForm.value.status == 0,
                      active: editForm.value.status == 1,
                      expire: editForm.value.status == 2
                    }"
                    style="border: none"
                    formControlName="status"
                    (change)="onSelectStatus(statusSelect)"
                  >
                    <option class="" value="" disabled selected>
                      Choose License Status
                    </option>
                    <option class="inactve" [value]="0">Inactive</option>
                    <option class="active" [value]="1">Active</option>
                    <option class="expire" [value]="2">Expire</option>
                  </select>
                </div>
                <!-- <div (click)="onSelectStatus(statusSelect)">
                  <p
                    class="license-status text-center p-2"
                    [ngClass]="{
                      inactive: editForm.value.status == 0,
                      active: editForm.value.status == 1,
                      expire: editForm.value.status == 2
                    }"
                    style="width: 100px"
                  >
                    <span *ngIf="editForm.value.status == 1">active</span>
                    <span *ngIf="editForm.value.status == 0">inactive</span>
                    <span *ngIf="editForm.value.status == 2">expire</span>
                  </p>
                </div> -->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer d-flex justify-content-end align-items-center">
    <button
      type="button"
      class="btn btn-outline-dark cancel-btn"
      (click)="modal.close('Save click')"
    >
      Cancel
    </button>

    <button
      type="button"
      class="save-btn btn btn-outline-dark"
      (click)="onSubmit(modal)"
    >
      Save
    </button>
  </div>
</ng-template>
