
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<a routerLink="">home</a> <br>
<a routerLink="license">license</a><br>
{{env_data | json}}



<router-outlet></router-outlet>
