.rules{
  // scroll
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  

}

.ruleInput {
  background-color: #e3e3e3;

  &.checkedButton {
    background-color: #c8ffdb;
  }
}

.validation-error {
  font-size: 15px;
  color: #DCA438;
}

.cancel-btn {
  background-color: #e3e3e3;
  color: black;

  &:hover {
    background-color: #bbbbbb;
    color: black;
  }
}

.save-btn {
  background-color: #9feb99;
  color: black;

  &:hover {
    background-color: #8ed88e;
    color: black;
  }
}

input,
textarea,
select {
  border: 1px solid black;
}

label{
  color: white;
}
