<ng-template #modalCreate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create License</h4>

    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>createForm value : {{ createForm.value | json }}</p>
    <form [formGroup]="createForm">
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-xl-4 py-2 px-5 rounded-3 mx-auto"
            style="background-color: #2d2951"
          >
            <div class="mb-3">
              <label for="InputName" class="form-label">Name</label
              ><span class="text-danger">*</span>
              <input
                type="text"
                class="form-control"
                id="InputName"
                name="InputName"
                placeholder="Name"
                formControlName="name"
              />
              <div
                class="validation-error"
                *ngFor="let error of createForm.get('name').errors | keyvalue"
              >
                <span *ngIf="createForm.get('name').dirty"
                  >*{{ error.value }}</span
                >
              </div>
            </div>
            <div class="mb-3">
              <label for="InputTenant" class="form-label">Tenant</label
              ><span class="text-danger">*</span>
              <select
                #tenantInput
                class="form-control dropdown-toggle"
                id="InputTenant"
                name="InputTenant"
                formControlName="tenant"
              >
                <option class="" value="" disabled selected>
                  Choose a tenant
                </option>
                <option
                  *ngFor="let tenant of tenantData"
                  [value]="tenant.tenantId"
                >
                  {{ tenant.name }}
                </option>
              </select>
              <!-- <div
                class="validation-error"
                *ngIf="
                  !createForm.get('tenant').valid &&
                  createForm.get('tenant').dirty
                "
              >
                <p>*choose a tenant</p>
              </div> -->
              <div
                class="validation-error"
                *ngFor="let error of createForm.get('tenant').errors | keyvalue"
              >
                <span *ngIf="createForm.get('tenant').dirty"
                  >*{{ error.value }}</span
                >
              </div>
            </div>
            <div class="mb-3">
              <label for="InputPackage" class="form-label">Package</label
              ><span class="text-danger">*</span>
              <select
                #packageInput
                class="form-control dropdown-toggle"
                id="InputPackage"
                name="InputPackage"
                formControlName="package"
              >
                <option class="" value="" disabled>Choose a package</option>
                <option
                  *ngFor="let package of packageData"
                  [value]="package.name"
                >
                  <p>{{ package.name }}</p>
                </option>
              </select>
              <!-- <div
                class="validation-error"
                *ngIf="
                  !createForm.get('package').valid &&
                  createForm.get('package').dirty
                "
              >
                <p>*choose a package</p>
              </div> -->
              <div
                class="validation-error"
                *ngFor="
                  let error of createForm.get('package').errors | keyvalue
                "
              >
                <span *ngIf="createForm.get('package').dirty"
                  >*{{ error.value }}</span
                >
              </div>
            </div>

            <div class="mb-3">
              <label for="InputMaxSeat" class="form-label">Max Seat</label
              ><span class="text-danger">*</span>
              <input
                type="number"
                min="1"
                class="form-control"
                id="InputMaxSeat"
                name="InputMaxSeat"
                placeholder="Max Seat"
                formControlName="maxSeat"
              />
              <!-- <div class="validation-error">
                <span
                  *ngIf="
                    !createForm.get('maxSeat').valid &&
                    createForm.get('maxSeat').dirty
                  "
                  >*invalid pattern</span
                >
              </div> -->
              <div
                class="validation-error"
                *ngFor="
                  let error of createForm.get('maxSeat').errors | keyvalue
                "
              >
                <span *ngIf="createForm.get('maxSeat').dirty"
                  >*{{ error.value }}</span
                >
              </div>
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Expire Date</label
              ><span class="text-danger">*</span>
              <div class="">
                <input
                  type="date"
                  class="form-control"
                  style="cursor: pointer"
                  id="InputExpDate"
                  name="InputExpDate"
                  formControlName="expDate"
                />
              </div>

              <!-- <div
                class="validation-error"
                *ngIf="!createForm.get('expDate').valid"
              >
                <span
                  *ngIf="
                    !createForm.get('expDate').errors
                      .dateNotLessThanCurrentDate &&
                    createForm.get('expDate').dirty
                  "
                  >*date can't be less than current date
                </span>
              </div> -->
              <div
                class="validation-error"
                *ngFor="
                  let error of createForm.get('expDate').errors | keyvalue
                "
              >
                <span *ngIf="createForm.get('expDate').dirty"
                  >*{{ error.value }}</span
                >
              </div>
            </div>
            <div class="mb-3">
              <label for="InputDescription" class="form-label"
                >Description</label
              >
              <textarea
                class="form-control"
                id="InputDescription"
                name="InputDescription"
                rows="6"
                formControlName="description"
              ></textarea>
              <div
                class="validation-error"
                *ngFor="
                  let error of createForm.get('description').errors | keyvalue
                "
              >
                <span *ngIf="createForm.get('description').dirty"
                  >*{{ error.value }}</span
                >
              </div>
            </div>
          </div>
          <div class="col-xl-7 mx-auto">
            <div class="d-flex align-items-center" style="gap: 1rem">
              <h2 style="margin: 0">Rules<span class="text-danger">*</span></h2>
              <i
                class="bi bi-question-circle"
                style="color: #1797df; font-size: 2rem"
              ></i>
            </div>
            <div
              class="py-2 rounded-3 p-4 rules"
              style="background-color: #2d2951"
              formArrayName="rules"
            >
              <div
                class="my-2"
                *ngFor="
                  let item of createForm.get('rules').controls;
                  let i = index
                "
                [formGroupName]="i"
              >
                <div class="row">
                  <div class="col-6">
                    <div class="mx-5">
                      <label for="flexCheckDefault" class="mb-1 text"
                        >Rule Name {{ i }}</label
                      >
                    </div>
                    <div class="d-flex">
                      <input
                        #checkInput
                        class="form-check-input"
                        style="
                          margin-right: 10px;
                          width: 30px;
                          height: 30px;
                          border-radius: 0;
                        "
                        type="checkbox"
                        id="flexCheckDefault"
                        formControlName="isChecked"
                      />

                      <input
                        class="form-control ruleInput"
                        style="flex: 1; margin-left: 10px"
                        type="text"
                        [ngClass]="{ checkedButton: checkInput.checked }"
                        formControlName="rule"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-3">
                    <label class="mb-1">IP Address</label>
                    <div>
                      <input
                        class="form-control"
                        type="text"
                        name=""
                        id=""
                        formControlName="ip"
                        [readOnly]="!checkInput.checked"
                        [ngStyle]="{
                          'background-color': checkInput.checked
                            ? '#FFFFFF'
                            : '#e3e3e3'
                        }"
                      />
                    </div>
                    <!-- <div
                      class="validation-error"
                      *ngIf="
                        !ruleForm.controls[i].get('ip').valid &&
                        ruleForm.controls[i].get('ip').dirty &&
                        checkInput.checked
                      "
                      style=""
                    >
                      <span>*Invalid IP </span>
                    </div> -->
                    <div
                      class="validation-error"
                      *ngFor="
                        let error of ruleForm.controls[i].get('ip').errors
                          | keyvalue
                      "
                    >
                      <span *ngIf="ruleForm.controls[i].get('ip').dirty"
                        >*{{ error.value }}</span
                      >
                    </div>
                  </div>
                  <div class="col-3">
                    <label class="mb-1">Port</label>
                    <div>
                      <input
                        class="form-control"
                        type="text"
                        name=""
                        id=""
                        formControlName="port"
                        [readOnly]="!checkInput.checked"
                        [ngStyle]="{
                          'background-color': checkInput.checked
                            ? '#FFFFFF'
                            : '#e3e3e3'
                        }"
                      />
                    </div>
                    <!-- <div
                      class="validation-error"
                      *ngIf="
                        !ruleForm.controls[i].get('port').valid &&
                        ruleForm.controls[i].get('port').dirty &&
                        checkInput.checked
                      "
                      style=""
                    >
                      <span>*Port : 0-65535</span>
                    </div> -->
                    <div
                      class="validation-error"
                      *ngFor="
                        let error of ruleForm.controls[i].get('port').errors
                          | keyvalue
                      "
                    >
                      <span *ngIf="ruleForm.controls[i].get('port').dirty"
                        >*{{ error.value }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-end align-items-center">
    <button
      type="button"
      class="btn cancel-btn"
      (click)="modal.close('Save click')"
    >
      Cancel
    </button>

    <button type="button" class="btn save-btn" (click)="onSubmit(modal)">
      Save
    </button>
  </div>
</ng-template>
