.cancel-btn {
  background-color: #e3e3e3;
  color: black;

  &:hover {
    background-color: #bbbbbb;
    color: black;
  }
}

.delete-btn {
  background-color: #fe6d6d;
  color: black;

  &:hover {
    background-color: #ff5656;
    color: black;
  }
}
