<ng-template #modalDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title me-4" id="modal-basic-title">Delete License</h4>

    <i
      class="bi bi-question-circle"
      style="color: #1797df; font-size: 2rem;"
    ></i>

    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>{{ ownerId }}</p>
    <div *ngIf="seatAmount != 0">
      <p>You can't delete this license</p>
      <p>seat = {{ seatAmount }}</p>
    </div>
    <div *ngIf="seatAmount == 0">Are you sure to delete this license ?</div>
  </div>
  <div class="modal-footer d-flex justify-content-center align-items-center">
    <button
      type="button"
      class="btn cancel-btn mx-auto"
      (click)="modal.close()"
    >
      Cancel
    </button>

    <button
      type="button"
      class="btn delete-btn mx-auto"
      (click)="[modal.close(), onDelete()]"
      [hidden]="seatAmount != 0"
    >
      Delete
    </button>
  </div>
</ng-template>
