th {
  font-size: larger;
  background-color: #9c92f8;
  color: #fff;
  text-align: center;
}

.license-status {
  // border: 1px solid black;
  border-radius: 5px;

  &.active {
    background-color: #9feb99;
  }

  &.inactive {
    background-color: #c2c2c2;
  }

  &.expire {
    background-color: #fe6d6d;
  }
}

i {
  cursor: pointer;

  padding: 5px;
  border-radius: 5px;
  background-color: white;
  // border: 1px solid black;

  &.copy {
    background-color: white;
  }

  &.delete {
    background-color: red;
  }

  &.edit {
    background-color: #b2a895;
  }
}

// on hover
.gohza:hover {
  background-color: #9c92f8;
  color: #fff;
}

.dm-tooltip {
  position: absolute;
  background-color: rgba(234, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 4px;
  z-index: 1000; /* Ensure the tooltip is above other elements */
}

button {
  &.filter_active {
    background-color: #9feb99;
    border-radius: 5px;
    // outline: 1px solid black;
  }

  &.filter_inactive {
    background-color: #c2c2c2;
    border-radius: 5px;
    // outline: 1px solid black;
  }

  &.filter_expire {
    background-color: #fe6d6d;
    border-radius: 5px;
    // outline: 1px solid black;
  }

  &.on {
    opacity: 1;
  }
  &.off {
    opacity: 0.5;
  }
}

.license-management-page {
  width: 100%;
  height: 100%;
  padding: 50px;
  overflow: auto;
  // background-color: rgb(236, 236, 236);

  .card-license {
    // height: 361px;
    height: fit-content;
    min-height: 250px;

    border-radius: 5px;
    box-shadow: 0px 0px 20px #dbdbdb;
    padding: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    position: relative;
  }

  //   .card-license:hover{
  //     overflow-y: scroll;
  //   }

  //   .card-license::-webkit-scrollbar{
  //     width: 0px;

  //   }

  .status {
    font-size: 12px;
  }

  .total {
    font-size: 70px;
  }

  @media (min-width: 980px) {
    .total {
      font-size: 70px;
    }
  }

  @media (min-width: 1200px) {
    .total {
      font-size: 20px;
    }
  }

  @media (min-width: 1250px) {
    .total {
      font-size: 30px;
    }
  }

  @media (min-width: 1300px) {
    .total {
      font-size: 40px;
    }
  }

  @media (min-width: 1500px) {
    .total {
      font-size: 50px;
    }
  }

  .chart-status {
    width: 100% !important;
    height: 85% !important;
    position: absolute;
    bottom: -20px;
    left: 0px;
  }

  .chart-quotq {
    width: 100% !important;
    height: 85% !important;
    position: absolute;
    bottom: -20px;
    left: 0px;
  }

  .white {
    color: white;
  }

  .main {
    // background-color: $main ;
  }

  .tag {
    width: auto;
    // background-color: $main;
    border-radius: 5px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    height: 30px;
    color: rgb(255, 255, 255);
  }

  .card-table {
    border-radius: 5px;
    box-shadow: 0px 0px 20px #dbdbdb;
    padding: 20px;
    width: 100%;
    overflow-x: auto;
  }

  .mr-3 {
    margin-right: 5px;
  }

  .package {
    width: calc(100% - 2px);
    overflow-x: auto !important;
  }

  .p-0 {
    padding: 0px;
  }

  .card-pakage {
    height: 161px;
    min-width: 280px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #dbdbdb;
    padding: 20px;
    margin: 10px;
  }

  .search {
    width: 300px;
  }
}

.disableIcon {
  opacity: 0.5;
  pointer-events: none;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

input[type="date"]{
  border: 0;
}

input[type="date"]::-webkit-datetime-edit {
  // visibility: hidden;
  display: none;

}

input[type="date"]::-webkit-calendar-picker-indicator {
  // background: transparent;
  // bottom: 0;
  // color: transparent;
  cursor: pointer;
  // height: auto;
  // left: 0;
  // position: absolute;
  // right: 0;
  // top: 0;
}

p{
  text-align: end;
}


