<hr />
<br />

<!-- {{mockupData|json}} -->
<input #testDate type="date" name="" id="myDateInput" />
<button (click)="openCalendar(testDate)">click to open date calendar</button>
{{ dateFilters | json }} <br />
data is : {{ testDate.value | date }}

<input type="text" [(ngModel)]="seatAmount">

<div class="license-management-page">
  <p>license-management works!</p>
  <div class="row justify-content-center">
    <div class="col col-lg-6 col-xl-3">
      <div class="card-license d-flex flex-column">
        <div class=" ">
          <h3 i18n translate>TOTAL</h3>
        </div>
        <div
          class="total text-center flex-fill d-flex align-items-center justify-content-center"
        >
          {{ mockupData.length }}
        </div>
      </div>
    </div>

    <div class="col col-lg-6 col-xl-3">
      <div class="card-license">
        <h3 i18n translate>STATUS</h3>
        <br />
        <br />
        <br />
        <span class="text-center">
          <h1 class="total">10000</h1>
        </span>
      </div>
    </div>
    <div class="col">
      <div class="card-license h-fit">
        <h3 i18n translate class="text-center mb-0">LICENSE REMAINING</h3>
        <div class="d-flex row">
          <div
            class="duration d-flex gap-2 justify-content-center align-items-center mb-1 col-xl-6"
            *ngFor="let item of licenseDurationList; let i = index"
          >
            <div
              class="border border-dark rounded-3 py-2 text-center"
              style="width: fit-content; min-width: 8rem"
              [ngStyle]="{ 'background-color': item.bgColor }"
            >
              <h4 style="margin-bottom: 0">{{ item.time }}</h4>
            </div>
            <div
              class="border border-dark rounded-3 text-center py-2"
              style="width: 10%; min-width: 3rem"
            >
              <h4 style="margin-bottom: 0">{{ item.amount }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="d-flex align-items-end my-2">
    <div class="me-auto">
      <button
        class="btn rounded-3 p-2"
        style="background-color: #c7b5ea; cursor: pointer; min-width: 10rem"
        (click)="onCreateLicense()"
      >
        <i class="bi bi-file-earmark-plus"></i> New License
      </button>
    </div>

    <div class="gap-2 me-3">
      <button
        class="btn filter_inactive mx-1"
        [class.on]="buttonFilter[0].toggle === true"
        [class.off]="buttonFilter[0].toggle === false"
        (click)="
          [
            (buttonFilter[0].toggle = !buttonFilter[0].toggle),
            onFilterLicense()
          ]
        "
      >
        Inactive (NotUse:0)
        <!-- (NotUse:0) -->
      </button>
      <button
        class="btn filter_active mx-1"
        [ngClass]="{
          on: buttonFilter[1].toggle === true,
          off: buttonFilter[1].toggle === false
        }"
        (click)="
          [
            (buttonFilter[1].toggle = !buttonFilter[1].toggle),
            onFilterLicense()
          ]
        "
      >
        Active (Use:1)
        <!-- (Use:1) -->
      </button>
      <button
        class="btn filter_expire mx-1"
        [class.on]="buttonFilter[2].toggle === true"
        [class.off]="buttonFilter[2].toggle === false"
        (click)="
          [
            (buttonFilter[2].toggle = !buttonFilter[2].toggle),
            onFilterLicense()
          ]
        "
      >
        Expire (Expire:2)
        <!-- (Expire:2)-->
      </button>
    </div>

    <div class="d-flex flex-wrap gap-2">
      <!-- create date filter -->
      <div
        class="d-flex flex-column px-2 rounded-3"
        id="createDateFilter"
        style="background-color: #e3e3e3"
        (click)="createDateFilter($event)"
      >
        <div class="text-center pt-2"><h4 class="mb-0">Create date</h4></div>

        <div class="p-2 d-xl-flex d-lg-flex d-md-flex">
          <div class="d-flex gap-2">
            <p class="my-0" style="min-width: 90px;">
              {{
                dateFilters.createDateStart
                  ? (dateFilters.createDateStart | date : "dd/MM/yyyy")
                  : "dd/mm/yyyy"
              }}
            </p>

            <input
              #createDateStartRef
              type="date"
              name=""
              id="createBefore"
              [(ngModel)]="dateFilters.createDateStart"
              (ngModelChange)="onFilterLicense()"
            />
          </div>
          <div class="d-flex">
            <p class="mb-0 mx-2">-</p>
          </div>
          <div class="d-flex gap-2">
            <p class="my-0" style="min-width: 90px;">
              {{
                dateFilters.createDateEnd
                  ? (dateFilters.createDateEnd | date : "dd/MM/yyyy")
                  : "dd/mm/yyyy"
              }}
            </p>
            <input
              type="date"
              name=""
              id="createAfter"
              [(ngModel)]="dateFilters.createDateEnd"
              (ngModelChange)="onFilterLicense()"
            />
          </div>
        </div>
      </div>

      <!-- expire date filter -->
      <div
        class="d-flex flex-column px-2 rounded-3"
        id="expireDateFilter"
        style="background-color: #e3e3e3"
        (click)="expireDateFilter($event)"
      >
        <div class="text-center pt-2"><h4 class="mb-0">Expire date</h4></div>

        <div class="p-2 d-xl-flex d-lg-flex d-md-flex">
          <div class="d-flex gap-2">
            <p class="my-0" style="min-width: 90px;">
              {{
                dateFilters.expireDateStart
                  ? (dateFilters.expireDateStart | date : "dd/MM/yyyy")
                  : "dd/mm/yyyy"
              }}
            </p>

          <input
            type="date"
            name=""
            id="expireBefore"
            [(ngModel)]="dateFilters.expireDateStart"
            (ngModelChange)="onFilterLicense()"
          />
          </div>
          <p class="mb-0 mx-2">-</p>

          <div class="d-flex gap-2">
            <p class="my-0" style="min-width: 90px;">
              {{
                dateFilters.expireDateEnd
                  ? (dateFilters.expireDateEnd | date : "dd/MM/yyyy")
                  : "dd/mm/yyyy"
              }}
            </p>
          <input
            type="date"
            name=""
            id="expireAfter"
            [(ngModel)]="dateFilters.expireDateEnd"
            (ngModelChange)="onFilterLicense()"
          />
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <p>createDateStart : {{ dateFilters.createDateStart }}</p>
<p>createDateEnd : {{ dateFilters.createDateEnd }}</p>
<p>expireDateStart : {{ dateFilters.expireDateStart }}</p>
<p>expireDateEnd : {{ dateFilters.expireDateEnd }}</p> -->

<!-- Modals Section -->
<app-modal-delete-license
  #modalDeleteLicense
  (confirmDelete)="onEmitDeleteLicense($event)"
></app-modal-delete-license>
<app-modal-create-license
  #modalCreateLicense
  [ruleList]="ruleList"
  [tenantData]="tenantData"
  [packageData]="packageData"
  (confirmCreate)="onEmitCreateLicense($event)"
></app-modal-create-license>
<app-modal-edit-license
  #modalEditLicense
  [seatAmount]="seatAmount"
  (saveEdit)="onEmitEditLicense($event)"
></app-modal-edit-license>
<!-- Modals Section -->

<div class="container-fluid" style="overflow-x: auto">
  <table class="table table-sm table-striped">
    <thead class="thead">
      <tr class="table-purple">
        <th>No.</th>
        <th>Name</th>
        <th>Agent Amount</th>
        <th>Status</th>
        <th>Serial</th>
        <th>Expire date</th>
        <th>Create date</th>
        <th>Update date</th>
        <th>Remaining</th>
        <th>Update by</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mockupDataFilter; let i = index">
        <!-- <tr *ngFor="let item of mockupData" [(ngModel)]="rowData" (click)="onClickRow()"> -->

        <td>
          <p class="text-center">{{ i + 1 }}</p>
        </td>
        <!-- <td>{{ item.licId }}</td> -->
        <td>{{ item.name }}</td>
        <td>
          <p class="text-center">{{ item.seats.length }}/{{ item.maxSeat }}</p>
        </td>
        <td>
          <p
            class="text-center license-status"
            [ngClass]="{
              inactive: item.status === 0,
              active: item.status === 1,
              expire: item.status === 2
            }"
          >
            <!-- {{ item.status }} -->
            <span *ngIf="item.status === 1">Active</span>
            <span *ngIf="item.status === 0">Inactive</span>
            <span *ngIf="item.status === 2">Expire</span>
          </p>
        </td>
        <td class="">
          <div class="d-flex">
            <p class="me-auto">{{ item.serial }}</p>
            <div>
              <i class="copy fas fa-copy" (click)="onCopy(item.serial)"></i>
            </div>
          </div>
        </td>
        <td>{{ item.expDate.slice(0,item.expDate.indexOf("T")) | date : "dd/MM/yyyy"  }}</td>
        <td>{{ item.createDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ item.updateDate | date : "dd/MM/yyyy" }}</td>
        <td>
          <p class="text-center">{{ durationString(item.duration) }}</p>
        </td>
        <td>{{ item.updateBy }}</td>
        <td style="text-align: center">
          <i class="fas fa-user" (click)="onSeeAgentsFilter(item)"></i>
        </td>
        <td style="text-align: center">
          <i class="edit fas fa-pen" (click)="onEditLicense(item)"></i>
        </td>
        <td style="text-align: center">
          <i
            class="delete fas fa-trash"
            [ngClass]="{ disableIcon: item.seats.length !== 0 }"
            (click)="onDeleteLicense(item)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <form class="row row-cols-sm-auto">
  <div class="col-12">
    <div class="input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        ngbDatepicker
        #d="ngbDatepicker"
      />
      <button
        class="btn btn-outline-secondary bi bi-calendar3"
        (click)="d.toggle()"
        type="button"
      ></button>
    </div>
  </div>
</form> -->
